@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --prime: #118AB2;
  --sec-drk: #073B4C;
  --sec-lt: #E6F7FD;
  --comp: #84DCC6;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'roboto', 'arial';
}

/* Header */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background-color: var(--prime);
}

.nav-container a {
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
  font-size: .7em;
}

header .logo {
  color: white;
  font-weight: bold;
  text-align: left;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul a {
  text-align: right;
  display: block;
  padding: 0 .6em;
}

.social-header {
  display: none;
}

.work-main img {
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 20, 32, 0.301);
  box-shadow: 10px 10px 10px rgba(0, 20, 32, 0.301);
}

.work-main .hero-header {
  margin: 0 2em;
}

.work-main .hero-title, .work-main h1 h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 1em;
}

.work-main .hero-title h1, .work-main h1 h2 h1 {
  color: var(--sec-drk);
  margin-right: .5em;
}

.work-main .hero-title h2, .work-main h1 h2 h2 {
  color: var(--comp);
  margin: unset;
}

.work-main h2 {
  margin: 1.5em 0 .5em 0;
  letter-spacing: .05em;
  color: var(--sec-drk);
}

.work-main h3 {
  color: var(--prime);
}

.work-main h4 {
  color: black;
  font-size: 1.1em;
}

.idea-container {
  margin: 0 2em;
}

.process-container {
  margin: 0 2em;
}

.conclusion-container {
  margin: 0 2em;
}

/* Footer */
.footer-container,
.copyright {
  background: var(--sec-lt);
  padding: 0em;
}

.footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-main h2 {
  min-width: 110px;
}

.footer-main .social-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 1.2em;
  padding-bottom: 1em;
}

.footer-main .social-footer ul svg {
  width: 60px;
}

.footer-content {
  padding: 2em 2em 2em 2em;
  font-style: none;
}

.footer-content h2 {
  font-size: 1.2em;
  margin: 0em;
  color: black;
}

.footer-content p {
  font-size: 1em;
  color: black;
}

.footer-content a {
  color: black;
  font-weight: bold;
}

.footer-content .button {
  display: block;
  padding: .5em 1em;
  border-radius: .5em;
  margin: 1em auto 1em auto;
  border-color: black;
  background-color: white;
  font-weight: bold;
  font-size: 1em;
}

.footer-content .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.copyright {
  background-color: var(--sec-drk);
  padding-left: 2em;
  padding-bottom: .2em;
  margin-top: 0;
}

.copyright p {
  margin-top: unset;
  padding-top: 1em;
  color: white;
}

@media only screen and (min-width: 500px) {
  header {
    font-size: 1em;
    padding: 1em 2em;
  }
}

@media only screen and (min-width: 600px) {
  .footer-content {
    padding-bottom: 0em;
  }
  .footer-content .button {
    display: block;
    padding: .5em 1em;
    border-radius: .5em;
    margin: 0em auto 3em auto;
    border-color: black;
    background-color: white;
    font-weight: bold;
    font-size: 1em;
  }
  .footer-content .button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: unset;
    padding: .5em 0 0 0;
  }
}

@media only screen and (min-width: 800px) {
  .logo {
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  a {
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  .footer-content .button {
    display: block;
    padding: .5em 1em;
    border-radius: .5em;
    margin: 0 auto 2em auto;
    border-color: black;
    background-color: white;
    font-weight: bold;
    font-size: 1em;
  }
  .footer-content .button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: unset;
    padding: .5em 0 0 0;
  }
}

@media only screen and (min-width: 1150px) {
  .logo {
    padding-left: 1em;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
  }
  .nav-container header {
    background: var(--prime);
  }
  header {
    padding: 1em 2em 1em 2em;
    font-size: 1.2em;
  }
  section {
    padding: 4em;
  }
  .social-header {
    padding: 1em 4em 1em 0;
    height: 2em;
    display: block;
    background-color: white;
    margin: auto 0em;
  }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: auto;
    float: right;
    padding-top: .5em;
  }
  .social-header ul svg {
    width: 50px;
  }
  .footer-container {
    display: none;
  }
  .copyright {
    background: var(--sec-drk);
    padding: .2em 0 .2em 6em;
  }
}
/*# sourceMappingURL=grow.css.map */