@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --prime: #118AB2;
    --sec-drk: #073B4C;
    --sec-lt: #E6F7FD;
    --comp: #84DCC6;
}


body {
    height: 100vh;
    margin: 0;
    font-family: 'roboto', 'arial';
}

/* Header */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.nav-container {
    background-color: var(--prime);

    a {
        color: white;
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    font-size: .7em;

    .logo {
        color: white;
        font-weight: bold;
        text-align: left;
    }

    ul {
        display: flex;

        a {
            text-align: right;
            display: block;
            padding: 0 .6em;
        }
    }
}

.social-header {
    display: none;
}

/* main */

.content {
    background-color: var(--sec-drk);
    color: white;
    display: grid;
    text-align: center;
    padding: 2em;
}

.meet {
    display: flex;
    margin: 0 auto;
    width: 200px;
    font-weight: bold;
    color: var(--comp);
    font-size: .85em;

    span {
        margin-top: .8em;
        margin-right: 0;
    }
}

/* skills tiles */

.hero-skills {
    background: var(--sec-lt);

    ul {
        padding: 2em 0 2em 0;
    }

}

.hero-skills-container ul li {

    background: rgba($color: white, $alpha: 0.7);
    border: solid 3px transparent;
    background-clip: padding-box;
    padding: 2em;
    backdrop-filter: blur(40px);
    box-shadow: 10px 10px 10px rgba(1, 147, 245, 0.15);
    border-radius: 1em;
    max-width: 200px;
    margin: 0 auto 2em auto;

    .icon-container {
        height: 100px;
        display: grid;
        place-content: center;
        margin: 0 auto;

        &.one {
            width: 50px;
        }

        &.two {
            width: 60px;
        }

        &.three {
            width: 100px;
        }
    }

    .skill-title {
        font-weight: bold;
        font-size: 1.3em;
        margin-top: .2em;
        text-align: center;
    }

    .skill-desc {
        margin-bottom: 2em;
    }

}

section {
    padding: 2em 2em;
    text-align: center;
}

.featured {
    position: relative;
}

.featured-image {
    border-radius: 1em;
    size: 100%;
}

.subtitle {
    text-transform: uppercase;
    color: var(--comp);
    font-weight: bold;
    letter-spacing: .1em;
    font-size: .8em;
}

.featured {
    background-color: var(--prime);
}

.featured-title {
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -.1em;
    display: block;
}

.featured-image {
    box-shadow: 10px 10px 10px rgba(0, 20, 32, 0.301);
}

.featured-desc {
    color: white;
    margin-bottom: 2em;
    font-size: .85em;
    line-height: 1.8em;
    font-weight: 400;
    text-align: left;
}

.portfolio {
    background-color: rgb(255, 255, 255);
}

.portfolio-left {

    .featured-title,
    .featured-desc {
        color: black;
    }
}

.portfolio-container img {
    border-radius: 1em;
    margin-bottom: 2em;
    box-shadow: 10px 10px 10px 3px rgba(37, 77, 102, 0.12);
}


/* Footer */


.footer-container,
.copyright {

    background: var(--sec-lt);
    padding: 0em;

}

.footer-main {

    display: flex;

    h2 {
        min-width: 110px;

    }

    .social-footer {


        ul {
            display: flex;
            margin: 0 0 0 1.2em;
            padding-bottom: 1em;

            svg {
                width: 60px;
            }
        }
    }
}

.footer-content {

    padding: 2em 2em 2em 2em;
    font-style: none;


    h2 {
        font-size: 1.2em;
        margin: 0em;
        color: black;
    }

    p {

        font-size: 1em;
        color: black;

    }

    a {

        color: black;
        font-weight: bold;

    }

    .button {

        display: block;
        padding: .5em 1em;
        border-radius: .5em;
        margin: 1em auto 1em auto;
        border-color: black;
        background-color: white;
        font-weight: bold;
        font-size: 1em;

    }

    .button-container {
        display: flex;
    }
}

.copyright {

    background-color: var(--sec-drk);
    padding-left: 2em;
    padding-bottom: .2em;
    margin-top: 0;

    p {
        margin-top: unset;
        padding-top: 1em;
        color: white;
    }

}

/* scss for about.html */

.skillslist-container {
    display: none;
}

.main-content-lrg {
    display: none;
}

.about-main {

    .main-content-sml {

        background-color: var(--sec-lt);
        padding: 2em 0em;

        .main-h1 {
            text-align: left;
            font-weight: bold;
            font-size: 1.5em;
            padding-left: 1em;
        }

        .main-h2 {
            text-align: right;
            font-weight: bold;
            font-size: 1.5em;
            text-transform: lowercase;
            padding-right: 1em;
            padding-top: .5em;
        }

        .main-img {
            border-radius: 50%;
            width: 200px;
            margin: unset;
        }
    }
}

.about-right {
    display: none;
}

.about-body {

    background: white;
    padding: 2em 2em 2em 2em;

    span {
        display: inline-block;
        line-height: normal;
        width: 100%;
        line-height: 2em;
        margin: 1em 0;
    }
}

.download-cv {

    display: block;
    padding: .5em 1em;
    border-radius: .5em;
    margin: 2em auto 2em auto;
    border-color: black;
    background-color: white;
    font-weight: bold;
    font-size: 1em;
}

@media only screen and (min-width: 500px) {

    header {
        font-size: 1em;
        padding: 1em 2em;
    }

    .featured-desc {
        margin: 1em 2em 3em 2em;
    }

    .about-main {

        .main-content-sml {

            padding: 2em 2em;

            .main-h1 {
                text-align: left;
                font-weight: bold;
                font-size: 2em;
                padding: unset;
            }

            .main-h2 {
                text-align: right;
                font-weight: bold;
                font-size: 1.5em;
                text-transform: lowercase;
                padding-right: unset;
            }

            .main-img {
                border-radius: 50%;
                width: 300px;
            }
        }
    }
}

@media only screen and (min-width: 600px) {

    .featured-desc {
        margin: 1em 4em 3em 4em;
    }

    .contact-me {
        display: flex;
        gap: 1em;
        margin-top: 1em;
    }

    .footer-content {

        padding-bottom: 0em;

        .button {

            display: block;
            padding: .5em 1em;
            border-radius: .5em;
            margin: 0em auto 3em auto;
            border-color: black;
            background-color: white;
            font-weight: bold;
            font-size: 1em;

        }

        .button-container {

            display: flex;
            margin: unset;
            padding: .5em 0 0 0;

        }
    }

}


@media only screen and (min-width: 800px) {

    .logo {
        margin-left: 1em;
        margin-bottom: 1em;
        margin-top: 1em;
    }

    a {
        margin-right: 1em;
        margin-bottom: 1em;
        margin-top: 1em;
    }

    .hero-skills {
        background: var(--sec-lt);

        ul {
            padding: 2em 0 2em 0;
        }

    }

    .hero-skills-container {

        display: flex;
        width: 100%;
        justify-content: center;

        ul {
            display: grid;
            grid-template-columns: repeat(3, 33%);

            li {
                margin: 0 1em;
                box-shadow: 10px 10px 10px rgba(0, 20, 32, 0.301);
            }
        }
    }

    .featured,
    .portfolio {
        text-align: left;
    }

    .left {
        max-height: 150px;
        margin: auto auto auto 0em;
    }

    .subtitle {
        margin-top: unset;
    }

    .featured-desc {
        max-width: 300px;
    }

    .portfolio-left {
        margin: auto 0;
    }

    .pf-img {
        margin: unset;
        margin: 2em 0;
    }

    .featured,
    .portfolio-container {
        display: grid;
        grid-template-columns: 40% auto;
    }

    .featured-desc {
        margin: 1em 1em 0 0;
    }

    .portfolio-img {
        margin-right: 0em;
    }

    .contact-me {

        margin: unset;

    }

    .footer-content {

        .button {

            display: block;
            padding: .5em 1em;
            border-radius: .5em;
            margin: 0 auto 2em auto;
            border-color: black;
            background-color: white;
            font-weight: bold;
            font-size: 1em;

        }

        .button-container {

            display: flex;
            margin: unset;
            padding: .5em 0 0 0;

        }
    }


    /* scss for about.html */

    .main-content-lrg {

        display: grid;
        grid-template-columns: 60% 40%;
        background-color: var(--sec-lt);
        padding: 2em 6em;

        .main-left {


            .main-h1 {
                margin-top: 2.5em;
                text-align: left;
                font-weight: bold;
                font-size: 2.5em;
            }

            .main-h2 {
                margin-bottom: 2em;
                text-align: left;
                font-weight: bold;
                font-size: 1.5em;
                text-transform: lowercase;
            }

        }

        .main-right {

            .main-img {
                border-radius: 50%;
                width: 300px;
            }
        }
    }


    .main-content-sml {
        display: none;
    }


    .about-body {

        margin: 2em 6em;
        padding: unset;
        line-height: 2em;
        background: white;

        span {
            display: inline-block;
            line-height: normal;
            width: 100%;
            line-height: 2em;
            margin: 1em 0;
        }
    }

}

@media only screen and (min-width: 1150px) {

    .logo {
        padding-left: 1em;
    }

    .nav-container {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;

        header {
            background: var(--prime);
        }
    }

    header {
        padding: 1em 2em 1em 2em;
        font-size: 1.2em;
    }

    section {
        padding: 4em;
    }

    .social-header {
        padding: 1em 4em 1em 0;
        height: 2em;
        display: block;
        background-color: white;
        margin: auto 0em;

        ul {
            display: flex;
            justify-content: space-between;
            width: auto;
            float: right;
            padding-top: .5em;

            svg {
                width: 50px;
            }
        }
    }


    .hero {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: unset;
        margin: unset;
        height: 530px;



        .content {
            background: var(--sec-drk);
            padding: 10em 8em 8em 4em;
            margin-bottom: 0;
            text-align: left;

            h1 {
                font-size: 3em;
                line-height: 1.4em;
                width: 250px;
                height: 0;
                margin-top: -1em;
                position: relative;
            }

            .meet {
                width: auto;
                font-size: 1.1em;
                margin-top: 13em;
                position: absolute;

            }

        }

    }

    .hero-skills-container {

        background-image: url("../img/bg.png");
        display: flex;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;


        ul {
            display: grid;
            grid-template-columns: repeat(3, 30%);
            grid-gap: 1em;
            margin: 4em 0em 4em -24em;
            width: 300%;
            height: 100px;

            li {
                box-shadow: 10px 10px 10px rgba(0, 20, 32, 0.301);
            }

        }
    }



    .portfolio {
        padding-bottom: 1em;
        background-color: white;
    }

    .portfolio-left,
    .featured-desc {

        padding-right: 2em;

    }

    .footer-container {
        display: none;
    }

    .copyright {

        background: var(--sec-drk);
        padding: .2em 0 .2em 6em;

    }

    .main-img {

        margin-right: 33%;

    }

    /* scss for about.html */


    .main-content-lrg {

        display: grid;
        grid-template-columns: 66% auto;
        background-color: var(--sec-lt);
        padding: unset;

        .main-left {

            background-color: white;
            margin: unset;
            padding: 2em 6em;
            display: grid;

            .main-h1 {

                margin: 2em 0em 0em 0em;
                text-align: left;
                font-weight: bold;
                font-size: 2.5em;
            }

            .main-h2 {
                margin: 0em 0em 2em 0em;
                text-align: left;
                font-weight: bold;
                font-size: 1.5em;
                text-transform: lowercase;
            }

        }

        .main-right {

            background-color: var(--sec-lt);

            .main-img {
                border-radius: 50%;
                width: 300px;
                margin: 2em;
            }
        }
    }


    .main-content-sml {
        display: none;
    }


    .about-body-container {
        background: var(--sec-lt);
        margin: 0em;
        padding: 0em;
        line-height: 2em;
        grid-template-columns: 66% auto;
        display: grid;

        .about-body {

            p {
                display: grid;
                background: var(--sec-lt);
                margin: 0em;
                padding-top: 2em;

                span {
                    display: inline-block;
                    line-height: normal;
                    width: 100%;
                    line-height: 2em;
                    margin: 1em 0;
                }

                .first-line {

                    margin: unset;
                    color: var(--sec-drk);
                    font-weight: bold;
                }
            }

            .button-container {

                background: var(--sec-lt);
                padding-top: 2em;
                padding-bottom: 20em;

                button {
                    background: white;
                }
            }


        }

        .skillslist-container {
            display: grid;
            background-color: white;
            padding: 2em 0 2em 3em;

            h2 {
                font-size: 2em;
            }

            h3 {
                display: none;
            }

            h4 {
                font-size: 1.5em;
                margin-bottom: 1em;
                margin-top: 2em;
            }
        }
    }
}